{% extends 'base.html.twig' %}

{% block title %}Article - {{ article.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="container">
            <h1 class="text-center mb-5">{{ article.title }}</h1>
            <div class="row">
                {% if article.Category.name is defined %}
                <small class="col-lg-12 text-center mb-5 font-weight-light font-italic">
                    {{ article.Category.name }}
                </small>
                {% endif %}
                <div class="col-lg-12 mb-3 text-justify">
                    {{ article.content }}
                </div>
                <div class="col-lg-6 mb-5 text-center">
                    <a href="{{ path('article_index') }}" class="btn btn-secondary btn-sm" role="button">Retour <i class="fas fa-undo-alt"></i></a>
                </div>
                <div class="col-lg-6 mb-5 text-center">
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-secondary btn-sm" role="button">Modifier <i class="fas fa-edit"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
    {{ include('article/_delete_form.html.twig') }}
{% endblock %}